.row
  %ul.thumbnails
    - @top_categories.each do |topcat|
      %li.span3
        .thumbnail
          .thumbnail60px
            %a{:href => cats_path(:id => topcat.id), :rel => "tooltip", "data-original-title" => "#{@topcat_subcat[topcat.name]}"}
              %i{:class => "#{topcat.icon} icon60"}
          .topcategory
            %p
              %strong
                = link_to topcat.name, cats_path(:id => topcat.id), :rel => "tooltip", "data-original-title" => "#{@topcat_subcat[topcat.name]}"
            %ul.subcategories
              - topcat.children.first(2).each do |sub|
                %li 
                  = link_to sub.name, cats_path(:id => sub.id)
              - if topcat.has_descendants?
                %li 
                  = link_to "...", cats_path(:id => topcat.id)
          .clearboth
