- c = @category || Category.new
- if c.name.nil?
  - provide(:title, '톱 카테고리')
- else
  - provide(:title, "카테고리 - #{@category.name}")
.row
  = render 'layouts/messages'
  .span12
    .breadcrumb
      = ariane.render
  .span2
    .row.cat_list
      = render 'static_pages/cat_list'
  .span10
    .row
      = render 'static_pages/sing_cat'
