.row
  .span12
    .breadcrumb
      = ariane.render
  .span12
    .page-header
      %h1 회사 정보

    %p
      %strong 회사이름:
      %br
      = @company.name
    %p
      %strong 주소:
      %br
      = @company.direccion
    %p
      %strong 전화:
      %br
      = @company.tel
    - unless @company.cel.blank?
      %p
        %strong 핸드폰:
        %br
        = @company.cel
    - unless @company.otro_contacto.blank?
      %p
        %strong 기타연락처:
        %br
        = @company.otro_contacto
    - unless @company.homepage.blank?
      %p
        %strong 홈페이지 주소
        %br
        = link_to @company.homepage, @company.homepage
    - unless @company.misc.blank?
      %p
        - if @company.category_id == 44
          %strong 운송지역:
        - else
          %strong 비고:
        %br
        = @company.misc
    - unless @company.tag_list.blank?
      %p
        %strong 태그
        %br
        - @company.tag_list.each do |tag|
          = link_to tag, tag_path(:tag => tag), :class => "label label-warning"
    %p
      %strong 카테고리
      %br
      - cat_id = @company.category_id
      = link_to Category.find(cat_id).name, cats_path(:id => cat_id)

    = link_to 'Back', :back, :class => 'btn btn-primary btn-mini'
