.row
  .span12
    .breadcrumb
      = ariane.render
  .span12
    %h1 회사 정보

    %p
      %strong 회사이름:
      %br
      = @company.name
    %p
      %strong 주소:
      %br
      = @company.direccion
    %p
      %strong 전화:
      %br
      = @company.tel
    - unless @company.cel.nil?
      %p
        %strong 핸드폰:
        %br
        = @company.cel
    - unless @company.otro_contacto.nil?
      %p
        %strong 기타연락처:
        %br
        = @company.otro_contacto
    - unless @company.homepageURL.nil?
      %p
        %strong 홈페이지 주소
        %br
        = @company.homepageURL
    - unless @company.misc.nil?
      %p
        - if @company.category_id == 44
          %strong 운송지역:
        - else
          %strong 비고:
        %br
        = @company.misc
    %p
      %strong 카테고리
      %br
      - cat_id = @company.category_id
      = link_to Category.find(cat_id).name, cats_path(:id => cat_id)

    = link_to 'Back', :back, :class => 'btn btn-success btn-small'
