.row
  = render 'layouts/messages'
  .span12
    .hero-unit.hidden-phone
      %a.close{"data-dismiss"=>"alert", :href => "#"} x
      .row
        .span10
          .row
            .span5
              .hero-logo
                %h1#logo
                  = link_to "아르헨티나 한인 네트워크", root_path, :class => "logo"
              .hero-content
                %p
                  아르헨티나 한인 네트워크는 재아 한인들의 
                  %em 업소록
                  과 아르헨티나 한인들을 위한 여러 정보를 제공할 것입니다. 
                %p
                  %a.btn.btn-success.btn-large{:href => about_path}
                    %i.icon-info-sign
                    자세한 내용 &raquo;
            .span5
              .hero-carousel
                #slide.carousel.slide
                  .carousel-inner
                    .item.active
                      %i{:class=>"icon-briefcase icon240"}
                    .item
                      %i{:class=>"icon-money icon240"}
                    .item
                      %i{:class=>"icon-picture icon240"}
                    .item
                      %i{:class=>"icon-camera icon240"}
                    .item
                      %i{:class=>"icon-credit-card icon240"}
                  %a.carousel-control.left{:href => '#slide', "data-slide" => "prev"}
                    %i.icon-arrow-left
                  %a.carousel-control.right{:href => '#slide', "data-slide" => "next"}
                    %i.icon-arrow-right
.row
  .span12
    .row
      .span9
        = render 'static_pages/category_search'
        = render 'static_pages/topcat'
      .span3
        = render 'static_pages/side'
