%li
  - if node.level == 0
    .btn-group
      = raw render(:partial => "#{opts[:path]}/link_top", :locals => {:opts => opts, :root => root, :node => node})
      %button.btn.btn-primary.dropdown-toggle{"data-toggle" => "dropdown"}
        %span.caret
      = render(:partial => "#{opts[:path]}/children", :locals => {:opts => opts, :parent => node, :children => children}) unless children.blank? or node.level >= 1
  - else
    = raw render(:partial => "#{opts[:path]}/link", :locals => {:opts => opts, :root => root, :node => node})
