.accordion-group
  .accordion-heading
    %button.accordion-toggle{"data-toggle" => "collapse", "data-parent" => "#accordion-#{news}", "data-target" => "##{e.hashe}"}
      = e.name
  .accordion-body.collapse{:id => "#{e.hashe}"}
    .accordion-inner
      = strip_tags(e.summary.strip)
      = link_to "더보기", e.url,:class => "btn btn-mini btn-info", :target => "_new"
