- provide(:keyword, @keyword)
.row
  = render 'layouts/messages'
  .span12
    .row
      %h1#logo.hidden-phone
        = link_to "아르헨티나 한인네트워크", root_path
  .span12
    .row
      = render 'home/nivo'
.row
  .span12{:'data-no-turbolinks' => true}
    .row
      .span9
        .row.well.well-small#home-categories
          = render 'home/category_search'
          = render 'home/topcat'
      .span3.news_side
        = render 'home/side'
- content_for :scripts do
  <script type='text/javascript'>
  head.ready(function() {
  $(window).load(function() { 
  $('#slider').nivoSlider({ 
  effect:'random', 
  slices:15, 
  boxCols: 8,
  boxRows: 4,
  animSpeed:400, 
  pauseTime:2200, 
  startSlide: 0,
  directionNav:true, 
  controlNav:true, 
  pauseOnHover:false, 
  randomStart: false,
  captionOpacity:.7 }); 
  $("a[rel=tooltip]").tooltip();
  });
  })
  </script>
