= simple_form_for @company, :html => { :class => 'form-horizontal' } do |f|
  = f.input :name, :label => "회사이름"
  = f.input :direccion, :label => "주소"
  = f.input :tel
  = f.input :cel
  = f.input :otro_contacto, :label => "기타 연락처"
  = f.input :homepage, :label => "홈페이지 주소"
  = f.input :tag_list, :label => "Tags", :hint => "separated by comma"
  = f.association :category, :collection => Category.all(:order => 'name'), :prompt => "카테고리 선택하세요"
  .form-actions
    = f.button :submit, :class => 'btn btn-primary'
    = link_to t('.cancel', :default => t("helpers.links.cancel")), companies_path, :class => 'btn'
