- provide(:title, "업소록 | ")
.row
  = render 'layouts/messages'
  = render 'layouts/breadcrumbs'
  .span12
    .page-header
      %h1 업소록
  -if @companies.blank?
    .span3 
      = link_to "Back", :back, :class => "btn btn-small btn-info"
  -else
    .span12
      .row
        = render 'companies/com-search'
      - if is_admin?
        = link_to t('.new', :default => t("helpers.links.new")), new_company_path, :class => 'btn btn-primary'
      .row
        = render 'companies/table'
