- provide(:title, "#{@company.name} - 회사정보 | ")
.row
  = render 'layouts/messages'
  = render 'layouts/breadcrumbs'
  .span12
    .row
      = render 'companies/company_info'
      - unless @json == "[]"
        .span7
          = render ('companies/gmaps')
