- provide(:title, "#{@company.name} - 회사정보 | ")
- provide(:keyword, @keyword)
- provide(:description, "#{@company.name}에 대한 정보입니다. Informacion acerca de #{@company.name}.")
.row
  = render 'layouts/messages'
  = render 'layouts/breadcrumbs'
  .span12
    .row
      = render 'companies/company_info'
      - unless @json == "[]"
        .span7
          = render 'companies/gmaps'
