%li
  - if node.level == 0
    .btn-group
      = raw render(:partial => "#{opts[:path]}/link_top", :locals => {:opts => opts, :root => root, :node => node})
      - unless children.blank? or node.level >= 1
        %button.btn.dropdown-toggle{"data-toggle" => "dropdown"}
          %span.caret
        = render(:partial => "#{opts[:path]}/children", :locals => {:opts => opts, :parent => node, :children => children})
      - else
        %button.btn.dropdown-toggle{"data-toggle" => "dropdown", "disabled" => "disabled"}
          %span.caret
  - else
    = raw render(:partial => "#{opts[:path]}/link", :locals => {:opts => opts, :root => root, :node => node})
