- provide(:title, '톱 카테고리 | ')
- provide(:keyword, "아르헨티나 한인 네트워크 상위 카테고리 #{@keyword} Lista de categorias de tope Argentina Hanin Network" )
- provide (:description, "상위 카테고리 페이지입니다. Lista de categorias de tope Argentina Hanin Network.")
.row
  = render 'layouts/messages'
  = render 'layouts/breadcrumbs'
  = render 'categories/catside'
  .span10
    .row
      .span10
        %section#categories.well.well-small
          .row
            .span10.category_title.lead 톱 카테고리
          .row
            .span9.offset1
              .row
                - @roots.each do |c|
                  = render 'categories/descendants', :c => c
