- model_class = @category.class
%h1=t '.title', :default => model_class.model_name.human

%p
  %strong= model_class.human_attribute_name(:name) + ':'
  %br
  = @category.name
- unless @category.parent_id.nil?
  %p
    %strong= model_class.human_attribute_name(:parent_id) + ':'
    %br
    = link_to Category.find(@category.parent_id).name, :controller => "categories", :action => "show", :id => @category.parent_id
%p
  - if @category.has_descendants?
    %p
      %strong
        SubCategories
      - arranged_nodes = Category.find(@category.id).children.arrange
      = render_tree arranged_nodes do |node, child| 
        %li
          = link_to node.name, :controller => "categories", :action => "show", :id => node.id
          = child

.form-actions
  = link_to t('.back', :default => t("helpers.links.back")), categories_path, :class => 'btn'
  = link_to t('.edit', :default => t("helpers.links.edit")), edit_category_path(@category), :class => 'btn'
  = link_to t('.destroy', :default => t("helpers.links.destroy")), category_path(@category), :method => "delete", :confirm => t('.confirm', :default => t("helpers.links.confirm", :default => 'Are you sure?')), :class => 'btn btn-danger'
