- provide(:title, "#{@category.name} - 카테고리 | ")
.row
  = render 'layouts/messages'
  = render 'layouts/breadcrumbs'
  = render 'categories/catside'
  .span10.single-category
    %section#categories.well.well-small
      = render 'categories/category_info'
    %p
    - unless @coms.blank?
      %section#companies.well.well-small
        = render 'categories/category_coms'
        - unless @json == "[]"
          = render 'categories/category_map'
