- model_class = @category.class
%h1=t '.title', :default => model_class.model_name.human

%p
  %strong= model_class.human_attribute_name(:name) + ':'
  %br
  = @category.name
- unless @category.parent_id.nil?
  %p
    %strong= model_class.human_attribute_name(:parent_id) + ':'
    %br
    = link_to Category.find(@category.parent_id).name, :controller => "categories", :action => "show", :id => @category.parent_id
%p
  - if @category.has_descendants?
    %p
      %strong
        SubCategories
      - arranged_nodes = Category.find(@category.id).children.arrange
      = render_tree arranged_nodes do |node, child| 
        %li
          = link_to node.name, :controller => "categories", :action => "show", :id => node.id
          = child
%p
  - @companies = Company.find_all_by_category_id(@category.id)
  - unless @companies.size == 0
    %p
      %strong 회사 또는 상호
    %ul
    - @companies.each do |c|
      %li
        = link_to c.name, :controller => "companies", :action => "show", :id => c.id

- if not current_user.nil? and current_user.has_role? :admin
  .form-actions
    = link_to t('.back', :default => t("helpers.links.back")), categories_path, :class => 'btn'
    - if not current_user.nil? and current_user.has_role? :admin
      = link_to t('.edit', :default => t("helpers.links.edit")), edit_category_path(@category), :class => 'btn'
    = link_to t('.destroy', :default => t("helpers.links.destroy")), category_path(@category), :method => "delete", :confirm => t('.confirm', :default => t("helpers.links.confirm", :default => 'Are you sure?')), :class => 'btn btn-danger'
