- provide(:title, "#{@category.name} - 카테고리 | ")
- provide(:keyword, "아르헨티나 한인 네트워크 #{@keyword}. Argentina Hanin Coreano Network #{@keyword}.")
- provide(:description, "#{@category.name} 카테고리 정보 페이지 입니다. 이 #{@category.name} 카테고리에 포함된 회사도 포함되어 있습니다. Pagina de informacion acerca de #{@category.name} incluyendo empresas que pertenecen a la categoria.")
.row
  = render 'layouts/messages'
  = render 'layouts/breadcrumbs'
  = render 'categories/catside'
  .span10.single-category{:'data-no-turbolink' => true}
    %section#categories.well.well-small
      = render 'categories/category_info'
    %p
    - unless @coms.blank?
      %section#companies.well.well-small
        = render 'categories/category_coms'
        - unless @json == "[]"
          = render 'categories/category_map'
