%footer.navbar.navbar-fixed-bottom
  %nav.navbar-inner
    .container
      %small Copyright &copy; 2012 Argentina Hanin Network &reg;
      %ul#footer-logos
        %li
          = image_tag('HTML5_Badge_32.png', :alt => "HTML5")
        %li
          = image_tag('HTML5_Semantics_32.png', :alt => "HTML5 Semantics")
        %li
          = image_tag('HTML5_Styling_32.png', :alt => "HTML5 CSS3")
      %nav
        %ul
          %li
            = link_to "회사소개", about_path
          %li
            = link_to "Contact us", contact_path
